/* Hamburger menu */
header .menu__hamburger {
	position: absolute;
    top: 5px;
    left: 15px;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1.1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

header .menu__hamburger:hover {
	background: var(--menu-bg-color);
	border-radius: 50%;
  cursor: pointer;
}

/* Hamburger Line */
header .menu__hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hamburger Lines - Top & Bottom */
header .menu__hamburger > div::before,
header .menu__hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -7px;
    width: 100%;
    height: 2px;
    background: inherit;
}

header .menu__hamburger > div::after {
	top: 7px;
}

/* Tooltip container */
.menu__tooltip {
	position: relative;
	display: inline-block;
  }
  
  /* Tooltip text */
  .menu__tooltip .menu__tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    top: 65px;
    left: 0;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .menu__tooltip:hover .menu__tooltiptext {
    visibility: visible;
  }
